.widgets {
  position: sticky;
  top: 80px;
  flex: 0.2;
  flex-wrap: wrap;
  height: fit-content;
  padding-bottom: 10px;
  /* visibility: hidden; */
}

.widgets__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.widgets__header > h2 {
  font-size: 16px;
  font-weight: 400;
}

.widgets__article {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  cursor: pointer;
}

.widgets__article:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.widgets__articleLeft {
  color: lightgray;
  margin-right: 5px;
}

.widgets__articleLeft > .MuiSvgIcon-root {
  font-size: 15px;
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > h4 {
  font-size: 14px;
}

.widgets__articleRight > p {
  font-size: 12px;
  color: gray;
}

/* .widget__bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
} */
